<%= form_with(model: [@product, @review], data: { turbo_stream: 'true', turbo_frame: dom_id(Review.new, 'form') }) do |form| %>
  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating, in: 1..5 %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
